{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-3 mt-3">{{ post.title }}</h1>
        <hr>
        <p class="lead mt-3">{{ post.formatted_markdown|safe }}</p>
        <p class="lead mt-4">{{ post.category.get_post_categories }}</p>
        <p class="lead mt-3 text-end">Author: {{ post.author }}</p>
        <p class="lead mt-3">Created: {{ post.created_at }}</p>
        <p class="lead mt-3">Updated: {{ post.updated_at }}</p>
        <div class="d-flex align-items-center" style="width: 7%; justify-content: space-around">
            <img src="{% static 'view.svg' %}" alt="View image" style="width: 34%">
            <span style="font-size: 20px">{{ post.views }}</span>
        </div>

        {% if is_access %}
        <div class="pt-3">
            <a href="{{ post.get_update_url }}" class="btn btn-primary mx-2 px-4">Update</a>
            <a href="{{ post.get_delete_url }}" class="btn btn-danger mx-2 px-4">Delete</a>
        </div>
        {% endif %}
        <hr>

        {% if is_authed %}
        <div class="create-comment">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="Create comment!" class="btn btn-primary mt-2">
            </form>
        </div>
        {% endif %}
        <div class="comments mt-5">
            {% for comment in comments %}
                <div class="comment alert alert-primary mt-5" role="alert">
                        <p class="lead" style="font-size: 20px">{{ comment.author }}</p>
                        <p class="lead" style="font-size: 20px">{{ comment.text }}</p>
                        <p class="lead" style="font-size: 20px">{{ comment.created_at }}</p>
                </div>
            {% endfor %}
        </div>

        {{ form.media }}
    </div>
{% endblock %}