<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
            <a href="{% url 'blog:list' %}" class="navbar-brand d-flex flex-row">Jotty >< SITE!</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link px-4" href="{% url 'blog:list' %}">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto d-flex w-100" style="flex-direction: row-reverse">
                {% if request.user.is_authenticated %}
                    <li class="nav-item active"><span class="nav-link px-4">{{ request.user.username }}</span></li>
                    <li class="nav-item active">
                        <a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a href="{% url 'accounts:login' %}" class="nav-link px-4">Sign in</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'blog:signup' %}" class="nav-link">Sign up</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>